.top-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.full-width {
    width: 100%;
}

input {
    width: 100%;
}

.data-group {
    border: solid 1px #ccc;
    padding: 1.5rem;
    border-radius: 1px 8px 8px 8px;
    background-color: #ffffff;
}

.top-var {
    border-radius: 16px 1px 16px 16px;
}